.boxOne {
  border: solid 5px black;
  border-radius: 10px;
  margin-left: 40px;

  width: 50%;
  background-image: url('../imgs/balloons.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top -120px right 0px;
}

.boxOne-text {
  color: white;
  background: rgba(0, 0, 0, 50%);
  padding: 10px;
  width: 90%;
  margin-left: 40px;

}

.boxTwo {
  margin-left: 40px;
  width: 50%;
  border: solid 5px lightblue;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 40px;


}

.boxTwo-text {
  text-align: center;
  background-image: url('../imgs/star.png'), url('../imgs/star.png');
  background-repeat: no-repeat, repeat-y;
  background-position: 25% 50%, 75% 50%;
}


/* css just to make the page look nicer */

h1 {
  border-bottom: solid 3px rgb(0, 0, 255);
  padding: 40px 40px 10px 0px;
  margin-left: 40px;
  width: 600px;
}

.task-head {
  margin-left: 40px;
  font-weight: 300;
}

.task-head+p {
  font-style: italic;
}

p {
  margin-left: 40px
}