h1 {
  color: red;
}

p,
li {
  color: green;
}

li {
  list-style-type: square;
}

.special {
  color: orange;
  font-weight: bold;
}


/* descendant combinator */
li em {
  color: rebeccapurple;
}

/* adjacent sibling combinator */
h1+p {
  font-size: 200%;
}

/* playing with states */
a:link {
  color: blue;
  font-weight: bold;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

/* cobining selector types */
body h1+p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}